In [1]:
from pipeline import TrainingPipeline
from data_preprocessing.feature_engineering import FeatureEngineer

In [6]:
filled_data = TrainingPipeline().training_pipeline()
filled_data

c:\projects\ml_learn\End-To-End-Projects\Electricity_Consumption_Predictor\extract_ingest\ingest.py:25: DtypeWarning: Columns (2,3,4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filePath, delimiter=';')
c:\projects\ml_learn\End-To-End-Projects\Electricity_Consumption_Predictor\data_preprocessing\type_convert.py:8: UserWarning: Parsing dates in %d/%m/%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Datetime'] = pd.to_datetime(df['Date'] + ' ' + df['Time'], errors="coerce")
c:\projects\ml_learn\End-To-End-Projects\Electricity_Consumption_Predictor\data_preprocessing\initial_process.py:20: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  df['Datetime'] = df['Datetime'].dt.floor('H')

,Datetime,Global_active_power,Global_reactive_power,Sub_metering_1,Sub_metering_2,Sub_metering_3,Voltage
0,2006-12-16 17:00:00,152.024,8.244,0.0,19.0,607.0,234.643889
1,2006-12-16 18:00:00,217.932,4.802,0.0,403.0,1012.0,234.580167
2,2006-12-16 19:00:00,204.014,5.114,0.0,86.0,1001.0,233.232500
3,2006-12-16 20:00:00,196.114,4.506,0.0,0.0,1007.0,234.071500
4,2006-12-16 21:00:00,183.388,4.600,0.0,25.0,1033.0,237.158667
...,...,...,...,...,...,...,...
34584,2010-11-26 17:00:00,103.554,3.684,0.0,0.0,772.0,237.069667
34585,2010-11-26 18:00:00,94.408,3.222,0.0,0.0,0.0,237.531833
34586,2010-11-26 19:00:00,99.560,3.602,0.0,4.0,0.0,236.741000
34587,2010-11-26 20:00:00,69.822,3.670,0.0,64.0,0.0,239.396000
34588,2010-11-26 21:00:00,2.804,0.000,0.0,0.0,0.0,239.690000

In [7]:
f1 = FeatureEngineer()
featured_data = f1.execute_transformation(filled_data, ['Global_active_power', 'Global_reactive_power', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3'], "LogTransformation")
featured_data = f1.execute_transformation(featured_data, 'Voltage', "StandardScalling")

In [8]:
featured_data

,Datetime,Global_active_power,Global_reactive_power,Sub_metering_1,Sub_metering_2,Sub_metering_3,Voltage
0,2006-12-16 17:00:00,5.030595,2.223975,0.0,2.995732,6.410175,-2.077126
1,2006-12-16 18:00:00,5.388761,1.758203,0.0,6.001415,6.920672,-2.098489
2,2006-12-16 19:00:00,5.323078,1.810581,0.0,4.465908,6.909753,-2.550313
3,2006-12-16 20:00:00,5.283782,1.705838,0.0,0.000000,6.915723,-2.269027
4,2006-12-16 21:00:00,5.217042,1.722767,0.0,3.258097,6.941190,-1.234013
...,...,...,...,...,...,...,...
34584,2010-11-26 17:00:00,4.649704,1.544152,0.0,0.000000,6.650279,-1.263851
34585,2010-11-26 18:00:00,4.558162,1.440309,0.0,0.000000,0.000000,-1.108904
34586,2010-11-26 19:00:00,4.610755,1.526491,0.0,1.609438,0.000000,-1.374041
34587,2010-11-26 20:00:00,4.260170,1.541159,0.0,4.174387,0.000000,-0.483917
34588,2010-11-26 21:00:00,1.336053,0.000000,0.0,0.000000,0.000000,-0.385349